[Unit]
Description=Breathwise TR incremental pipeline timer

[Timer]
OnCalendar=*-*-* 00/6:05:00
Persistent=true
Unit=breathwise-pipeline@incremental.service

[Install]
WantedBy=timers.target

